#!/bin/fish

if test -f {{ .chezmoi.homeDir }}/.bashrc
    echo -e '\n# Use fish in place of bash\nif [[ $(ps --no-header --pid=$PPID --format=comm) != "fish" && -z ${BASH_EXECUTION_STRING} ]]; then\n\tshopt -q login_shell && LOGIN_OPTION='--login' || LOGIN_OPTION=''\n\texec fish $LOGIN_OPTION\nfi' >> {{ .chezmoi.homeDir }}/.bashrc
end

if not type -q fisher
    curl -sL https://git.io/fisher | source && fisher update
end

