{{ if eq .chezmoi.os "linux" -}}

{{ $packages := .packages.linux -}}

{{ $installCommand := "dnf install -y " -}}
{{ if eq .osid "linux-fedora" -}}
    {{ $installCommand = "dnf install -y " -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
    {{ $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

# .local/share/chezmoi/.chezmoidata/packages.toml hash: {{ include ".chezmoidata/packages.toml" | sha256sum }}

{{ if not .headless -}}
    {{ $packages = mustAppend $packages "code" -}}
    {{ if eq .osid "linux-fedora" -}}
    {{ $sudo }}rpm --import https://packages.microsoft.com/keys/microsoft.asc
echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" | sudo tee /etc/yum.repos.d/vscode.repo > /dev/null
    {{- end }}
{{- end }}

{{ $sudo }}{{ $installCommand }}{{ $packages | join " " }}

{{- end -}}

