{{ if and (eq .chezmoi.os "linux") (not .ephemeral) -}}

{{ $installCommand := "dnf install -y" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ if eq .osid "linux-fedora" -}}
{{ $sudo }}{{ $installCommand }} dnf-plugins-core
{{ $sudo }}dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
{{ $sudo }}{{ $installCommand }} docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

{{ $sudo }}usermod -aG docker {{ .chezmoi.username }}
{{ $sudo }}systemctl enable docker.service
{{ $sudo }}systemctl enable containerd.service
{{- end }}
{{ end -}}
