{{ if eq .chezmoi.os "linux" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
    {{ $sudo = "" -}}
{{ end -}}

#!/bin/bash

# .local/share/chezmoi/.chezmoidata/packages.toml hash: {{ include ".chezmoidata/packages.toml" | sha256sum }}

set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin installing linux packages <<<<<\033[0m"

{{ $packages := .packages.linux -}}
{{ if not .headless -}}
{{   $packages = mustAppend $packages "code" -}}
{{   $sudo }}rpm --import https://packages.microsoft.com/keys/microsoft.asc
echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" | sudo tee /etc/yum.repos.d/vscode.repo > /dev/null
{{- end }}

{{ $sudo }}dnf install -y {{ $packages | join " " }}

echo -e "\0033[0;32m>>>>> Finish installing linux packages <<<<<\033[0m"

{{- end -}}
