{{ if eq .chezmoi.os "linux" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ if lookPath "dnf" -}}
{{ $sudo }}dnf install dnf-plugins-core
{{ $sudo }}dnf copr enable -y awood/bat-extras
{{ $sudo }}dnf install -y bat-extras
{{ end -}}
{{ end -}}
