{{ $nanorcVersionTag := (gitHubLatestRelease "scopatz/nanorc").TagName -}}
[".nano"]
    type = "archive"
    url = "https://github.com/scopatz/nanorc/releases/download/{{ $nanorcVersionTag }}/nanorc-{{ $nanorcVersionTag }}.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    include = ["*/*.nanorc"]

{{ $sourceCodeProVersionTag := (gitHubLatestRelease "adobe-fonts/source-code-pro").TagName -}}
[".fonts/source-code-pro"]
    type = "archive"
    url = "https://github.com/adobe-fonts/source-code-pro/archive/refs/tags/{{ $sourceCodeProVersionTag }}.zip"
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/OTF/*.otf"]

{{ $sourceSansVersionTag := (gitHubLatestRelease "adobe-fonts/source-sans").TagName -}}
[".fonts/source-sans"]
    type = "archive"
    url = "https://github.com/adobe-fonts/source-sans/archive/refs/tags/{{ $sourceSansVersionTag }}.zip"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/OTF/*.otf"]

{{ $sourceSerifVersionTag := (gitHubLatestRelease "adobe-fonts/source-serif").TagName -}}
[".fonts/source-serif"]
    type = "archive"
    url = "https://github.com/adobe-fonts/source-serif/archive/refs/tags/{{ $sourceSerifVersionTag }}.zip"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/OTF/*.otf"]

{{ $jetBrainsMonoVersionTag := (gitHubLatestRelease "JetBrains/JetBrainsMono").TagName -}}
[".fonts/jetbrains-mono"]
    type = "archive"
    url = "https://github.com/JetBrains/JetBrainsMono/releases/download/{{ $jetBrainsMonoVersionTag }}/JetBrainsMono-{{ $jetBrainsMonoVersionTag | replace "v" "" }}.zip"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/ttf/*.ttf"]
