{{/* Set default control variables */ -}}
{{ $ephemeral := false -}}
{{ $headless := false -}}
{{ $personal := false -}}
{{ $work := false -}}

{{ $osid := .chezmoi.os -}}
{{ if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
    {{ $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{ end -}}

{{/* Detect if running in GitHub Codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */ -}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* Detect if running inside Windows Subsystem for Linux (WSL) */ -}}
{{ if env "WSL_DISTRO_NAME" }}
{{   $headless = true -}}
{{ end -}}

{{ if not $ephemeral -}}
{{   if eq .chezmoi.hostname "xps-13" -}}
{{     $personal = true -}}
{{   else if eq .chezmoi.hostname "NOLNK1320000936" -}}
{{     $work = true -}}
{{   else if stdinIsATTY -}}
{{     $headless = promptBoolOnce . "headless" "headless" -}}
{{     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{ else -}}
{{     $ephemeral = true -}}
{{     $headless = true -}}
{{   end -}}
{{ end -}}

{{ $installCommand := "" -}}
{{ if eq $osid "linux-fedora" -}}
{{   $installCommand = "dnf install -y" -}}
{{ else if eq $osid "linux-ubuntu" -}}
{{   $installCommand = "apt install -y" -}}
{{ end -}}

{{ $sudoCommand := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudoCommand = "" -}}
{{ end -}}

{{ $email := "njosol@pm.me" -}}
{{ $name := "solbero" -}}
{{ if $work -}}
{{   $email = "njord.solberg@capgemini.com" -}}
{{   $name = "Njord A. Solberg" -}}
{{ end -}}

[data]
  {{- /* Control variables */}}
  ephemeral = {{ $ephemeral }}
  headless = {{ $headless }}
  personal = {{ $personal }}
  work = {{ $work }}
  osid = {{ $osid | quote }}

  {{- /* Command variables */}}
  sudoCommand = {{ $sudoCommand | quote }}
  installCommand = {{ $installCommand | quote }}

  {{- /* Information variables */}}
  name = {{ $name | quote }}
  email = {{ $email | quote }}
