set minibar
set titlecolor normal,normal
set nohelp
set numbercolor italic,normal,normal
set nonewlines

include "{{- .chezmoi.homeDir -}}/.nano/Brewfile.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/Dockerfile.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/Rnw.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/apacheconf.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/arduino.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/asciidoc.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/asm.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/awk.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/batch.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/beancount.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/c.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/clojure.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/cmake.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/coffeescript.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/colortest.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/conf.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/conky.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/creole.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/csh.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/csharp.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/css.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/csv.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/cython.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/d.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/dot.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/dotenv.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/elixir.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/email.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/erb.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/etc-hosts.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/expect.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/fish.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/fortran.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/fsharp.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/gemini.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/genie.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/gentoo.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/git.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/gitcommit.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/glsl.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/go.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/godot.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/gophermap.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/gradle.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/groff.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/haml.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/haskell.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/hcl.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/html.j2.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/html.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/i3.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/ical.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/ini.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/inputrc.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/jade.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/java.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/jrnl.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/js.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/json.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/julia.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/keymap.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/kickstart.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/kotlin.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/ledger.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/lisp.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/lua.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/m3u.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/makefile.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/man.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/markdown.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/moonscript.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/mpdconf.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/mutt.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/nanorc.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/nginx.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/nmap.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/ocaml.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/octave.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/patch.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/peg.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/perl.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/perl6.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/php.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/pkg-config.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/pkgbuild.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/po.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/pov.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/powershell.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/privoxy.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/prolog.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/properties.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/pug.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/puppet.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/python.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/reST.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/rego.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/rpmspec.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/ruby.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/rust.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/scala.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/sed.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/sh.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/sieve.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/sls.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/solidity.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/sparql.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/sql.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/subrip.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/svn.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/swift.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/systemd.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/tcl.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/tex.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/toml.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/ts.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/twig.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/v.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/vala.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/verilog.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/vi.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/x11basic.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/xml.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/xresources.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/yaml.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/yum.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/zeek.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/zig.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/zsh.nanorc"
include "{{- .chezmoi.homeDir -}}/.nano/zshrc.nanorc"
