[user]
	name = solbero
	email = {{ .email }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}.gitignore
	pager = delta
	editor = nano
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only --features=interactive
[rerere]
	enabled = true
	autoupdate = true
[delta]
	hyperlinks = true
   	hyperlinks-file-link-format = "vscode://file/{path}:{line}"
    features = side-by-side line-numbers decorations
    minus-style = syntax "#3f0001"
    plus-style = syntax "#003800"
    syntax-theme = Dracula
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-decoration-style = none
    file-style = bold yellow ul
    hunk-header-decoration-style = cyan box ul
[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
    line-numbers-right-style = cyan
[pull]
	ff = only
[rebase]
	autosquash = true
[merge]
	conflictstyle = diff3
[diff]
	mnemonicPrefix = true
[alias]
	aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
	ff = merge --ff-only
	push-with-lease = push --force-with-lease
	uncommit = reset --soft HEAD~1
