{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

# dnf
if type -q dnf
    abbr dnfi '{{ $sudo }}dnf install'
    abbr dnfr '{{ $sudo }}dnf remove'
    abbr dnfu '{{ $sudo }}dnf update'
end

# chezmoi
if type -q chezmoi
    abbr c 'chezmoi'
    abbr ca 'chezmoi apply'
    abbr cad 'chezmoi add'
    abbr ccd 'chezmoi cd'
    abbr cdi 'chezmoi diff'
    abbr ce 'chezmoi edit'
    abbr ci 'chezmoi init'
    abbr cm 'chezmoi merge'
    abbr cs 'chezmoi status'
    abbr ctt 'chezmoi chattr'
    abbr cu 'chezmoi update'
    abbr cxt 'chezmoi execute-template'
end

# git
if type -q git
    abbr g 'git'
    abbr ga 'git add'
    abbr gaa 'git add --all'
    abbr gb 'git branch'
    abbr gc 'git commit'
    abbr gca 'git commit --amend'
    abbr gcf 'git commit --fixup'
    abbr gcm 'git commit -m'
    abbr gco 'git checkout'
    abbr gd 'git diff'
    abbr gf 'git fetch'
    abbr gl 'git log'
    abbr gp 'git pull'
    abbr gps 'git push'
    abbr gr 'git rebase'
    abbr gra 'git rebase --abort'
    abbr grc 'git rebase --continue'
    abbr gri 'git rebase --interactive'
    abbr grs 'git rebase --skip'
    abbr gs 'git status'
    abbr gst 'git stash'
    abbr gsta 'git stash apply'
    abbr gstd 'git stash drop'
    abbr gstl 'git stash list'
    abbr gstp 'git stash pop'
    abbr gsts 'git stash show'
end

# bat
if type -q bat
    abbr b 'bat'
end
