# dnf
if type -q dnf
    abbr dnfi '{{ .sudoCommand }}dnf install'
    abbr dnfr '{{ .sudoCommand }}dnf remove'
    abbr dnfu '{{ .sudoCommand }}dnf update'
end

# apt
if type -q apt
    abbr apti '{{ .sudoCommand }}apt install'
    abbr aptr '{{ .sudoCommand }}apt remove'
    abbr dnfupd '{{ .sudoCommand }}apt update'
    abbr dnfupg '{{ .sudoCommand }}apt upgrade'
end

# chezmoi
if type -q chezmoi
    abbr c 'chezmoi'
    abbr ca 'chezmoi apply'
    abbr cad 'chezmoi add'
    abbr ccd 'chezmoi cd'
    abbr cdi 'chezmoi diff'
    abbr ce 'chezmoi edit'
    abbr ci 'chezmoi init'
    abbr cm 'chezmoi merge'
    abbr cs 'chezmoi status'
    abbr ctt 'chezmoi chattr'
    abbr cu 'chezmoi update'
    abbr cxt 'chezmoi execute-template'
end

# git
if type -q git
    abbr g 'git'
    abbr ga 'git add'
    abbr gaa 'git add --all'
    abbr gb 'git branch'
    abbr gc 'git commit'
    abbr gca 'git commit --amend'
    abbr gcan 'git commit --amend --no-edit'
    abbr gcf 'git commit --fixup'
    abbr gcm 'git commit -m'
    abbr gco 'git checkout'
    abbr gd 'git diff'
    abbr gf 'git fetch'
    abbr gl 'git log'
    abbr gp 'git pull'
    abbr gps 'git push'
    abbr gpsf 'git push --force-with-lease'
    abbr gr 'git rebase'
    abbr gra 'git rebase --abort'
    abbr grc 'git rebase --continue'
    abbr gri 'git rebase --interactive'
    abbr grs 'git rebase --skip'
    abbr gs 'git status'
    abbr gst 'git stash'
    abbr gsta 'git stash apply'
    abbr gstd 'git stash drop'
    abbr gstl 'git stash list'
    abbr gstp 'git stash pop'
    abbr gsts 'git stash show'
end

# dotnet
if type -q dotnet
    abbr da 'dotnet add'
    abbr db 'dotnet build'
    abbr dbs 'dotnet build-server'
    abbr dcl 'dotnet clean'
    abbr dfmt 'dotnet format'
    abbr dls 'dotnet list'
    abbr dn 'dotnet new'
    abbr dnu 'dotnet nuget'
    abbr dr 'dotnet run'
    abbr dre 'dotnet restore'
    abbr drm 'dotnet remove'
    abbr dt 'dotnet test'
    abbr dw 'dotnet watch'
end
