# Disable fish greeting
set -g fish_greeting

if type -q nano
  set -gx EDITOR nano
  set -gx VISUAL nano
else
  set -gx EDITOR vi
  set -gx VISUAL vi
end

# Add bat configuration
if type -q bat
  set -gx BAT_THEME Dracula
end