# Disable fish greeting
set -g fish_greeting

# Set default editor
if type -q nano
    set -gx EDITOR nano
    set -gx VISUAL nano
else
    set -gx EDITOR vi
    set -gx VISUAL vi
end

# Set fzf configuration
if type -q fzf
    set -gx fzf_fd_opts --hidden --max-depth 5
end
