{{ if and (eq .chezmoi.os "linux") (and (not .headless) (not .ephemeral)) -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ if eq .osid "linux-fedora" -}}
{{ .sudoCommand }}rpm --import https://packages.microsoft.com/keys/microsoft.asc
echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" | {{ .sudoCommand }}tee /etc/yum.repos.d/vscode.repo > /dev/null
{{ end -}}

{{ .sudoCommand }}{{ .installCommand }} code
{{ end -}}
