{{ if eq .chezmoi.os "linux" -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{/* Add repository to package manager */ -}}
{{ if eq .osid "linux-ubuntu" -}}
curl -SsL https://packages.httpie.io/deb/KEY.gpg | {{ .sudoCommand }}gpg --dearmor -o /usr/share/keyrings/httpie.gpg --yes
echo "deb [arch=amd64 signed-by=/usr/share/keyrings/httpie.gpg] https://packages.httpie.io/deb ./" | {{ .sudoCommand }}tee /etc/apt/sources.list.d/httpie.list > /dev/null
{{ .sudoCommand }}apt update
{{ end -}}

{{ .sudoCommand }}{{ .installCommand }} httpie

{{ end -}}
