{{ if eq .chezmoi.os "linux" -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{/* Add repository to package manager */ -}}
{{ if eq .osid "linux-ubuntu" -}}
{{ .sudoCommand }}apt-add-repository ppa:fish-shell/release-3 -y
{{ .sudoCommand }}apt update
{{ end -}}

{{ .sudoCommand }}{{ .installCommand }} fish

{{ end -}}
