{{ if eq .chezmoi.os "linux" -}}

{{ $packages := list
     "bat"
     "eza"
     "fd-find"
     "fish"
     "fzf"
     "git"
     "httpie"
     "jq"
     "ripgrep"
     "tldr"
     "zoxide"
-}}
{{ $flatpak_packages := list -}}

{{ if not .ephemeral -}}
{{   $packages = concat $packages (list
       "pipx"
       "gh"
) -}}
{{ end -}}

{{ if and (not .headless) (not .ephemeral) -}}
{{   $packages = concat $packages (list
       "langpacks-en"
       "langpacks-nb"
       "papirus-icon-theme"
) -}}
{{   $flatpak_packages = concat $flatpak_packages (list
       "org.gimp.GIMP"
       "org.inkscape.Inkscape"
       )
-}}
{{ end -}}


{{ if .personal -}}
{{ $flatpak_packages = concat $flatpak_packages (list
     "com.bitwarden.desktop"
     "com.calibre_ebook.calibre"
     "com.dropbox.Client"
     "com.prusa3d.PrusaSlicer"
     "de.haeckerfelix.Fragments"
     "io.typora.Typora"
     "org.gnome.World.PikaBackup"
     "org.openscad.OpenSCAD"
       )
-}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ .sudoCommand }}{{ .installCommand }} {{ $packages | join " " }}

{{ if and (eq .osid "linux-fedora") ($flatpak_packages) -}}
{{ .sudoCommand }}flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install -y flathub {{ $flatpak_packages | join " " }}
{{ end -}}

{{ end -}}
