{{ if and (eq .chezmoi.os "linux") (not .ephemeral) -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ if eq .osid "linux-fedora" -}}
{{ .sudoCommand }}{{ .installCommand }} dnf-plugins-core
{{ .sudoCommand }}dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
{{ .sudoCommand }}{{ .installCommand }} docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
{{ .sudoCommand }}usermod -aG docker {{ .chezmoi.username }}
{{ .sudoCommand }}systemctl enable docker.service
{{ .sudoCommand }}systemctl enable containerd.service
{{ end -}}

{{ end -}}
